body {
  color: white;
  margin-bottom: 300px;
}
input[type="search"] {
  color: white;
  margin-top: 7px;
  margin-bottom: 5px;
  padding-left: 10px;
  border: solid 1px white;
  background-color: transparent;
  border-radius: 50px;
}
::placeholder {
  color: white;
  opacity: 0.5;
}
button {
  background-color: transparent;
  border: none;
  color: white;
  transition: all 200ms ease-in-out;
}
button:hover {
  color: #318ce7;
}
h1 {
  font-size: 40px;
  margin-top: 5px;
}
h2 {
  margin-left: -4px;
  font-size: 30px;
  margin-bottom: 19px;
}
small {
  position: relative;
  left: 2px;
  opacity: 0.6;
  font-size: 10px;
}
hr {
  border: none;
  border-top: 3px double;

  overflow: visible;
  text-align: center;
  height: 5px;
}

footer {
  color: #318ce7;
  opacity: 0.8;
  margin-top: 6px;
  font-size: 11px;
  text-align: center;
}

.weatherAppWrapper {
  margin-top: 20px;
}

.weatherApp {
  background: linear-gradient(
    112.1deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  );
  box-shadow: 0px 3px 12px 0.3px rgba(0, 0, 0, 0.3);
  display: block;
  margin: 0 auto;

  max-width: 400px;
  border: 1px solid;
  border-radius: 20px;
  padding: 15px 15px 30px 15px;
}
.cityDate {
  margin-left: 5px;
  margin-bottom: 24px;
  line-height: 10px;
}

.currentWeatherIcon {
  width: 174px;

  margin-left: 28px;
  font-size: 140px;
}

.currentTemp {
  position: relative;
  right: 7px;
  font-size: 60px;
}

.celsius,
.pipe,
.fahrenheit {
  font-weight: lighter;
  position: relative;
  bottom: 30px;
  right: 4px;
}
.link {
  color: white;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
.link:hover {
  cursor: default;
  color: #318ce7;
  font-weight: bold;
}

.currentPrecisions {
  font-size: 13px;
  list-style-type: none;
  padding: 0;
}

.forecastPrecisions {
  margin-top: 5px;
  text-align: center;
  padding: 0;
  font-size: 12px;
  list-style-type: none;
}

.forecastIcon {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
  line-height: 25px;
}

.dayForecastTemperature {
  font-weight: bolder;
}
.githubLink {
  text-decoration: none;
  color: #202639;
  transition: all 150ms ease-in-out;
}
.githubLink:hover {
  color: #318ce7;
}
